{% extends "main.html" %}

{% block content%}

<h1>Projects Template</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ante dolor,
  maximus aliquam pretium eu, aliquam vel magna. Quisque lacus purus, pulvinar
  vehicula eleifend non, tristique quis est. Mauris interdum rhoncus est et
  fringilla. Sed in mattis metus. Mauris eget nisl vitae ex congue varius et id
  elit. Nunc hendrerit congue elit, id lacinia elit laoreet elementum. Fusce et
  lectus finibus, placerat turpis ac, accumsan lacus. Maecenas orci nisi, porta
  non varius vel, rhoncus fermentum lacus. Aliquam sit amet lacinia arcu.
  Curabitur rutrum scelerisque eros.
</p>

{% endblock content %}
